@{
    ViewBag.Title = "Home Page";
}

<div class="row">
    <div class="col-sm-7 full-width" id="left-col">
        <div id="left-spacer"></div>
        <img src="~/Content/images/logo.png" class="img-responsive"/>
    </div>
    <div class="col-sm-5 full-width" id="right-col">
        <div id="right-spacer"></div>
        <h1>A community space for DIY music and art located in Elyria, Ohio.</h1>
    </div>
</div>